sustainable-wage-tool-data/scripts/credentials.py

__pycache__

tempCodeRunnerFile.py

sustainable-wage-tool-data/DataFiles/*
!sustainable-wage-tool-data/DataFiles/countiesFIPSCodes.data

*dataOutput.xlsx*

*jobData.xlsx*

/sustainable-wage-tool-data/scripts/__pycache__/*