/* This file intentionally left blank. */


body {
    background-color: #222222;
    color: white;
}

body * {
    background-color: #222222;
    color: white;}

a {
    color: rgb(58, 109, 250);;

  }
  
a:visited {
color: rgb(58, 109, 250);
}

a * {
color: white;
}


pre{
background-color: white;
}

pre * {
background-color: white;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

div.footer {
    margin-top: auto;
    text-align: center;
}

